.advanced-config {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.color-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.color-container label {
  align-self: start;
}

.toggle-container {
  position:relative;
  width: 6.5rem;
  height: 2.6rem;
  border-radius: 100rem;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  z-index: 1;
}

.toggle-container:before {
  position: absolute;
  top: 50%;
  margin-top: -0.6rem;
  margin-left: 0.9rem;
  line-height: 1;
  content: "OR";
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.toggle-container:after {
  position: absolute;
  top: 50%;
  margin-top: -0.45em;
  margin-left: 3.0rem;
  line-height: 1;
  content: "AND";
  opacity: 1;
  transition: 0.5s;
  z-index: -1;
}

.toggle-btn {
  position: relative;
  left: 0.4rem;
  top: 0.25rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100rem;
  background-color:  var(--text-primary);
  transition: 0.5s;
}

.toggled:before {
  opacity: 1;
}

.toggled:after {
  opacity: 0;
}

.toggled .toggle-btn {
  margin-left: 3.6rem;
  background-color: var(--text-secondary);
}

.v-enter-active,
.v-leave-active {
  transition: 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(-3rem)
}