.export-modal {
  position: fixed;
  top: 42%;
  left: 50%;
  margin-top: -15rem;
  margin-left: -21rem;
  background-color: var(--bg-secondary);
  color:var(--text-secondary);
  width: 42rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0rem 0rem 3rem 0rem;
  border-radius: var(--border-radius);
  box-shadow: var(--text-primary) 0px 0px 0.357143rem 0px
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--text-secondary);
}

nav div {
  padding: 1.5rem 2rem;
  margin: -0.18rem;
  cursor: pointer;
}

.selected {
  border-bottom: 2.5px solid var(--text-primary);
  font-weight: 700;
}

.code {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: 0.5rem;
  width: 90%;
  min-height: 14rem;
  line-height: 2rem;
  overflow:scroll;
  overflow-x: hidden;
}

button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border-color: var(--text-primary);
}

button:hover {
  background-color: var(--text-primary);
  color: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

