header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  border-bottom: 0.05rem solid var(--text-primary);
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
}

img {
  height: 80%;
}

nav {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;

  a {
    text-decoration: none;
    color: var(--text-primary);

    &:hover {
      color: var(--text-secondary);
    }
  }

  .router-link-active {
    color: var(--text-secondary);
  }
}

i {
  font-size: 2.5rem;
  color: var(--text-primary);
  cursor: pointer;
  transition: color 0.1s;

  &:hover, &:active, &:focus, &.active  {
    color: var(--tertiary);
  }
}

button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border-color: var(--text-primary);
  margin: 2rem;

  &:hover {
    background-color: var(--text-primary);
    color: var(--bg-secondary);
    border-color: var(--bg-secondary);
  }
}