header {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  height: 8rem;
}

header img {
  height: 80%;
}

header nav {
  display: flex;
  gap: 1rem;
}