:root {
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --bg-primary: #3428a1;
  --bg-secondary: #ffffff;
  --danger: #fa0606;
  --border-radius: 5px;
  --main: 'Poppins', sans-serif;
}

html {
  font-family: var(--main);
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: 0.4s;
}

button {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  display: inline-block;
  padding: 14px 25px;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  line-height: 1.4rem;
  cursor: pointer;
  text-align: center;
  background: var(--bg-primary);
  color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

button:hover {
  background: var(--bg-secondary);
  color: var(--bg-primary);
}

button:active {
  background: var(--bg-secondary);
  color: var(--bg-primary);
}
